.table {
    margin: 3% 0 0 3%;
    display: inline-block;
    width: 25%;
    max-width:300px;
    border: 2px solid grey;
    .header {
        background-color: black;
        color: white;
        height: 50px;
        display:flex;
        align-items: center;
    }    
    .body{
        display:block;
        overflow-y: scroll;
        position: relative;
        height: 300px;
        
        .row{
            height: 40px;
            display:flex;
            align-items: center;
            background-color: rgb(226, 226, 226);
            &:nth-of-type(even){
                background-color: grey;
                color: white;
            }
        }
        &::-webkit-scrollbar {
            width: 3%;
        }  
        &::-webkit-scrollbar-track {
            display: rgba(255, 255, 255, 0);
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(83, 83, 83);   
            border-radius: 20px;       
        }
    }
    
    .column{
        display: inline-block;
        width: 50%;
        margin: 0 10% 0 0;
        text-align: center;
    }
            
}

.data-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90%;
    margin:1% auto auto auto;
    p, h2{
        margin: 1%;
    }
    .current-number{
        font-size: 3rem;
        color: #638a72
    }
    h2{
        font-size: 2rem;
    }
    .increased{
        font-size: 1rem
    }
}

