.choro {
    width:80%;
    g
    {
        path{
            transition: all .5s;
            &:hover{
                fill: rgb(33, 1, 70);
                cursor: pointer;
            }
        }
    }
}